rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Rules for the 'posts' collection
    match /posts/{postId} {
      allow read: if true; // Allow everyone to see the feed
      allow create: if isAuthenticated();
      allow update, delete: if isAuthenticated() && (resource.data.uid == request.auth.uid);
    }

    // Rules for the 'users' collection
    match /users/{userId} {
      allow read: if true; // Allow users to be searched
      allow write: if isAuthenticated() && request.auth.uid == userId;
      
      match /notifications/{noteId} {
        allow read, update: if isAuthenticated() && request.auth.uid == userId;
        allow create: if isAuthenticated();
      }
    }
  }
}
